{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<style>
    .image-txt-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 15px;
    }

    .imageMonica {
        width: 36%;
        margin: 15px;
    }
</style>

<div class="image-txt-container">
    <title> Monica Klosin</title>
    <meta name="description"
        content="I am an undergrad studying computer science and data science. Currently looking for full time poisitons in data science or analytics. ">

    <image src="{{url_for('static', filename='Images/cool.jpeg')}}" class="imageMonica" alt="Monica in Holland, MI">
    
        <medium>
            Hello! I'm currently working for Meijer, the midwest super market company. 
            There I am on the Enterprise Data and Analystics Team, 
            where I've been learning Azure tools and how to build pipelines to move and transform data.
            <br>
            I graduated from Grand Valley State University in May 2021 with a major in Computer Science and a
            minor in Data Science and Mathematics.
            <br><br>
            My favorite project I’ve done was designing and developing a dashboard to monitor the CPU usage of jobs running in the
            hardware environment at the company I was interning at. The hardware at this company was very old, and when everyone was
            attempting to load data from the server, it would slow down – making people get their data in minutes not seconds. My
            mentor wanted to find a way to monitor the hardware environment, and she gave me the freedom to create a successful
            solution independently. I designed and developed in Power BI and Teradata SQL an interactive dashboard that would
            monitor the daily CPU of every job running on the hardware. My Dashboard is still used and updated today to find jobs
            using high CPU.
        </medium>

</div>





<br><br>
{% endblock %}