{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<style>
    .image-txt-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 15px;
    }

    .imageMonica {
        width: 36%;
        margin: 15px;
    }
</style>

<div class="image-txt-container">
    <image src="{{url_for('static', filename='Images/cool.jpeg')}}" class="imageMonica">
        <medium>
            Hello! I'm currently working for Bee Informed Partnership, a where I will be implementing a web-based
            dashboard to display beehive data.
            I'm also doing research with one of my universities professors, where we will be further developing
            techniques to detect communities in various social networks.
            <br>
            I will be graduating from Grand Valley State University May 2021 with a major in Computer Science and a
            minor in Data
            Science.
            <br><br>
            My favorite project I’ve done was designing and developing a dashboard to monitor the CPU usage of jobs running in the
            hardware environment at the company I was interning at. The hardware at this company was very old, and when everyone was
            attempting to load data from the server, it would slow down – making people get their data in minutes not seconds. My
            mentor wanted to find a way to monitor the hardware environment, and she gave me the freedom to create a successful
            solution independently. I designed and developed in Power BI and Teradata SQL an interactive dashboard that would
            monitor the daily CPU of every job running on the hardware. My Dashboard is still used and updated today to find jobs
            using high CPU.
            <br><br>
            I'm passonate about being involved in my community and supporting others. I created a coding workshop
            for high school women to learn how to code in Java, and continue to work with them on their coding skills virutally.
        </medium>
</div>

<br><br>
{% endblock %}