<!doctype html>
<html>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .wrapper {
        min-height: 100%;
        margin-bottom: -10px;
    }

    .center {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    .footer,
    .push {
        height: 50px
            /* Must be the same as footer height. */
    }

    footer {
        text-align: center;
        background-color: #333;

        padding: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;
        
       

        background: #3f8cff;
        color: white;
        border-top: 5px solid #0748aa;
    }

    body {

        position: relative;
        padding-bottom: 155px;
        min-height: 100vh;
    }
</style>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
</head>
<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #eeede8;">
        <a class="navbar-brand">MK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutMe">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resume">Resume</a>
                </li>
             
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Other Media
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://github.com/klosinm">Github</a>
                        <a class="dropdown-item" href="https://www.linkedin.com/in/monica-klosin-476316b6/">Linkedin</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <body style="background-color: #f7f7f3">
        <h1 style="margin: 10px;margin-left: 50px; text-align: center;"> {% block title %}{% endblock %}</h1>

        {% block content %}
        {% endblock %}
    </body>

    <footer class="navbar-fixed-bottom">
        <div class="container-fluid text-center text-md-left">
            <!-- Grid row -->
            <div class="row" style="margin-top:5px;">
                <!-- Links -->
                <ul class="list-unstyled list-inline text-center py-2">
                    <li>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                        </svg>
                        <a> monicaklosin@gmail.com</a>
                    </li>
                    <li>
                        <a href="https://github.com/klosinm">
                            <img src="{{url_for('static', filename='Images/Octocat.png')}}" width="4%">
                        </a>

                        <a href="https://www.linkedin.com/in/monica-klosin-476316b6/">
                            <img src="{{url_for('static', filename='Images/linke.png')}}" width="5%"
                                style="margin-top:4px">
                        </a>
                    </li>
                    <li style="margin-top:5px; font-size: x-small;color: #0748aa;">
                        Last Updated on October 19th, 2020
                    </li>
                </ul>
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
    </footer>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>