{% extends "base.html" %}
{% block title %}Portfolio{% endblock %}
{% block content %}

<style>

.btn{
    margin-top: 10px;
}
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
    margin-left: 25px;
  flex: 20%;
  padding: 10px;
 
}
.subHeader{
        font-size:large; 
        margin:0;
}

.description{
     font-size:small; 
        margin:0; 
        color:rgb(138, 138, 138);
}

.imageProject{

    margin:10px;
}

 .Header {
     font-size: x-large;
     color: #3f8cff;
     font-style: bold;
 }

 .Resume {
     margin-left: 23px;
 }
</style>


<div class="Resume Header"> Select Projects</div>
<title> Monica Klosin</title>
<meta name="description"
    content="I am an undergrad studying computer science and data science. Currently looking for full time poisitons in data science or analytics. ">

<div class="row">

    <div  class="column">
        <img src="{{url_for('static', filename='Images/hoya.jpg')}}" width="50%" />
        
        <h3 class="subHeader"> My Plant Bud</h3>
        <h2 class="description"> A website where users can learn about 6 unique plants  and take <br> a quiz to find out which plant is best suited for their lifestyle.</h2>
        <a href="https://myplantbud.herokuapp.com" class="btn btn-primary" role="button" aria-pressed="true">Go to Site</a>
    </div>
    <div class="column">
        <img src="{{url_for('static', filename='Images/hangman.png')}}" width="52%" />
        <h3 class="subHeader"> Hangman Bot</h3>
        <h2 class="description"> A discord bot that allows one to play hangman in a discord <br> server either alone or with friends.</h2>
        <a href="https://github.com/klosinm/HangmanBot" class="btn btn-primary" role="button" aria-pressed="true">Github Repo</a>

    </div>

    <div class="column">
        <img src="{{url_for('static', filename='Images/StatSnapshot.png')}}" width="52%" />
        <h3 class="subHeader"> Diamond Analyisis Paper</h3>
        <h2 class="description"> A project to find what qualities of a diamond impact its price the most. <br> 
        <a href=" https://github.com/klosinm/DiamondAnalysis/blob/main/Paper.pdf" class="btn btn-primary" role="button" aria-pressed="true">Read Here</a>

       
    </div>
</div>

<br><br><br>

{% endblock %}